<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiranajik.pracexam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracExam">
        <activity android:name=".org_new_camp"></activity>
        <activity android:name=".existing_org_camps" />
        <activity
            android:name=".userDonationDone"
            android:exported="false" />
        <activity
            android:name=".userQr"
            android:exported="false" />
        <activity android:name=".org_auth" />
        <activity android:name=".org_home" />
        <activity android:name=".org_signup" />
        <activity android:name=".org_login" />
        <activity
            android:name=".DonarHome"
            android:exported="false" />
        <activity
            android:name=".UserChoose"
            android:exported="false" />
        <activity android:name=".nav" />
        <activity android:name=".login" />
        <activity android:name=".signup" />
        <activity android:name=".auth" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>